/* Add CSS Styling */
.odd{
    font-family: Verdana, 'DejaVu Sans', sans-serif;
    background-color: rgb(221, 144, 163);
}

#two{
    color: #0000ff;
    font-size: 36px;
}

.adjust-font{
    font-size: 24px;
}

#fourth{
    background-color: hsl(117, 95%, 76%);
    font-weight: bold;
}